@font-face {
  font-family: 'iconfont';
  src: url('./iconfont.ttf'); /* IE9 */
  src: url('./iconfont.ttf') format('embedded-opentype'),
    /* IE6-IE8 */ url('./iconfont.ttf') format('woff2'),
    url('./iconfont.ttf') format('woff'),
    url('./iconfont.ttf') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url('./iconfont.ttf') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcanpinhuihuiyuanv6:before {
  content: '\e6d5';
}

.iconkaoqinguanlix:before {
  content: '\e635';
}

.iconbianpinghuatubiaosheji-:before {
  content: '\e62d';
}

.iconshangcheng:before {
  content: '\e620';
}

.icongongdan1:before {
  content: '\e65c';
}

.iconzhenggaishijian:before {
  content: '\e662';
}

.iconicon_kaoqin:before {
  content: '\e656';
}

.iconqunfengjindiankeliuleixingfenxi:before {
  content: '\e706';
}

.iconapplications:before {
  content: '\e60a';
}

.iconshouye:before {
  content: '\e627';
}

.iconwodeshezhi:before {
  content: '\e60d';
}

.iconshebeidianjian:before {
  content: '\e607';
}

.iconshenfenzheng:before {
  content: '\e61e';
}

.iconchaxun:before {
  content: '\e606';
}

.iconziyuan:before {
  content: '\e64a';
}

.iconicon_list_luru:before {
  content: '\e61f';
}

.icongonggao:before {
  content: '\e63d';
}

.icongongyingshangdailishang:before {
  content: '\e60b';
}

.iconshijian:before {
  content: '\e614';
}

.iconsuo:before {
  content: '\e85a';
}

.icontishi:before {
  content: '\e605';
}

.iconqiandai:before {
  content: '\e67d';
}

.iconhuawei:before {
  content: '\e82e';
}

.iconfuzeren:before {
  content: '\e688';
}

.iconrili:before {
  content: '\e61d';
}

.iconEmail:before {
  content: '\ea65';
}

.iconopen:before {
  content: '\eca8';
}

.icondizhi:before {
  content: '\e769';
}

.iconbaojingshanshuo:before {
  content: '\e68f';
}

.iconstranger-full:before {
  content: '\e8f3';
}

.iconnanren:before {
  content: '\e6dd';
}

.iconnvren:before {
  content: '\e61c';
}

.iconxuanzhong:before {
  content: '\e64b';
}

.icondian:before {
  content: '\e6d2';
}

.iconjintian:before {
  content: '\e60c';
}

.iconkehuxiaoshou:before {
  content: '\e608';
}

.iconkequn:before {
  content: '\e83a';
}

.iconweibiaoti4:before {
  content: '\e615';
}

.icongongdan:before {
  content: '\e667';
}

.iconapp_icons--:before {
  content: '\e61b';
}
