@font-face {
  font-family: 'icon';
  src: url('./iconfont.ttf'); /* IE9 */
  src: url('./iconfont.ttf') format('embedded-opentype'),
    /* IE6-IE8 */ url('./iconfont.ttf') format('woff2'),
    url('./iconfont.ttf') format('woff'),
    url('./iconfont.ttf') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url('./iconfont.ttf') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-juxing67:before {
  content: '\e601';
}

.icon-zu29:before {
  content: '\e602';
}

.icon-zu31:before {
  content: '\e603';
}

.icon-zu32:before {
  content: '\e604';
}

.icon-zu30:before {
  content: '\e605';
}

.icon-zu34:before {
  content: '\e606';
}

.icon-zu85:before {
  content: '\e607';
}

.icon-zu84:before {
  content: '\e608';
}

.icon-zu89:before {
  content: '\e609';
}

.icon-zu3:before {
  content: '\e60a';
}

.icon-zu268:before {
  content: '\e60b';
}

.icon-zu269:before {
  content: '\e60c';
}

.icon-zu87:before {
  content: '\e60d';
}

.icon-zu271:before {
  content: '\e60e';
}

.icon-zu93:before {
  content: '\e60f';
}

.icon-zu272:before {
  content: '\e610';
}

.icon-zu274:before {
  content: '\e611';
}

.icon-zu270:before {
  content: '\e612';
}

.icon-zu279:before {
  content: '\e613';
}

.icon-zu277:before {
  content: '\e614';
}

.icon-zu275:before {
  content: '\e615';
}

.icon-zu278:before {
  content: '\e616';
}

.icon-zu281:before {
  content: '\e617';
}

.icon-zu276:before {
  content: '\e618';
}

.icon-zu283:before {
  content: '\e619';
}

.icon-zu280:before {
  content: '\e61a';
}

.icon-zu282:before {
  content: '\e61b';
}
