

/* // 阿里字体图标设置 */
.icon, .iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body,html{
  height: 100%;
}
body,p{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
a{
  text-decoration: none;
  color: #000;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
h2,h3{
  margin: 0;
  padding: 0;
}